*{
    margin: 0%;
    padding:0%;
}
body{
   font-family: sans-serif; 
}
header{
display: flex;
align-items: center;
justify-content: space-between;
background-color:rgba(28, 120, 206, 0.74);
padding: 10px;
flex-wrap: wrap;
gap: 15px;
min-height: 70px;
}

.logo{
    display: flex;
}

.logo img{
    height: 50px;
}

.logo h1{
    color:black;
}

nav a {

    text-decoration: none;
    color:black;
    

}

nav a:hover{
    color: white;
}

.titulos{
    text-align: center;
    color: white;
}

.informacion{
    background-color: black;
}
